@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (@ViewBag.EventsList.Count != 0)
{
    for (int i = 0; i < @ViewBag.EventsList.Count; i++)
    {
        <div class="grid_3 ">
            <div id="evnt">
                <a href="@Url.Action("Details", "Events", new { Id = @ViewBag.EventsList[i].ID, Name = @ViewBag.EventsList[i].Name})">
                    <img width="175px" src="@Url.Content("~/Content/images/events/"+@ViewBag.EventsList[i].Name+"/"+@ViewBag.EventsList[i].Name+"_Main.png")" />
                    <div class="hLight">
                        <h4>
                        @ViewBag.EventsList[i].Name
                        </h4>
                        <p>
                            @ViewBag.EventsList[i].StartDate.Year</p>
                    </div>
                </a>
            </div>
        </div> <!--End Left Side-->
  
  }
}