@model WebsiteSUPPORTASU.Models.ContactUS

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<br /><br /><br /><br /><br /><br />
    <div class="grid_5 alpha contact">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        <h4 class="label">
            @Html.LabelFor(model => model.FullName)
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <h4 class="label">
            @Html.LabelFor(model => model.Email)
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <h4 class="label">
            @Html.LabelFor(model => model.Subject)
        </h4>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <h4 class="label">
            @Html.LabelFor(model => model.Message)
        </h4>
        <div class="editor-field">
				<textarea class="input" type="textarea" name="Message" rows="5" id="textarea"></textarea>
            @Html.ValidationMessageFor(model => model.Message)
        </div>
                
            <h6 style="margin-left:15px">*Please note that all fields marked with * are required.</h6>
 
				<input class="submit" type="submit" name="submit" value="Send" />
		}
	</div>
    
    <div class="grid_7 omega">
		<img src="@Url.Content("~/Content/images/cont_ev.png")"/>
     </div>
