@model WebsiteSUPPORTASU.Models.StaticPagesModel

@{
    ViewBag.Title = "EditStaticPage";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>EditStaticPage</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>StaticPagesModel</legend>
        
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ID)
        </div>
        <div class="editor-field" >

            @if(@Model.ID != null){
                
            <input name="ID" type="text" readonly="readonly"  value="@Model.ID" />
            }


            @Html.ValidationMessageFor(model => model.ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "EditStaticPage")
</div>
