<div class="grid_10 alpha omega" id="left_menu">
    <h2 id="evnt_Name">@ViewBag.CurrentEventName Sponsors</h2>
    
     @if (@ViewBag.CurrentEventMain.Count == 0 && @ViewBag.CurrentEventAcademic.Count == 0)
    {
        <br /><br /><br /><br /><br />
          <h3 style="margin-left:150px">There is no Sponsors for this Event :( :(</h3>
    }
    
    @if (@ViewBag.CurrentEventMain.Count != 0)
    {
        <div class="mainspon">
            <h3 class="grid_10 alpha mainspon_p">
                <img class="icn" src="@Url.Content("~/Content/images/cell.png")"/>
                Main Sponsors
                <img class="lin" src="@Url.Content("~/Content/images/sep.png")"/></h3>
        </div>
                                 foreach (var Main in @ViewBag.CurrentEventMain)
                                 {
        <div class="push_4 grid_3 alpha">
            <img src="@Url.Content("~/Content/images/Sponsors/" + @Main.Name + ".png")" />
        </div>
                                 }
    }
    @if (@ViewBag.CurrentEventAcademic.Count != 0)
    {
        <div class="grid_10 alpha mainspon">
            <h3 class="grid_10 alpha mainspon_p">
                <img class="icn" src="@Url.Content("~/Content/images/cell.png")"/>Academic Sponsors
                <img class="lin" src="@Url.Content("~/Content/images/sep.png")"/></h3>
        </div>
                                 foreach (var Academic in @ViewBag.CurrentEventMain)
                                 {
        <div class="grid_3 alpha">
            <img src="@Url.Content("~/Content/images/Sponsors/" + @Academic.Name + ".png")" id="album_style"/>
        </div>
                                 }
    }
</div>
