@model WebsiteSUPPORTASU.Models.MemberModel

@{
    ViewBag.Title = "EditMember";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>EditMember</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>MemberModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            @Html.Label("Committee")
        </div>
        <input class="input" type="text" name="OldCommittee" readonly=readonly value="@ViewBag.Committee"/>
         <div class="editor-field">
        <select name = "Committee" >
        <option value=""></option>
        @foreach (var Committee in @ViewBag.Committees)
            {
                <option value="@Committee.ID">@Committee.Name</option>
            }
            </select>
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile)
            @Html.ValidationMessageFor(model => model.Mobile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomePhone)
            @Html.ValidationMessageFor(model => model.HomePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.Label("Position")
        </div>
        <input class="input" type="text" name="OldPosition" readonly=readonly value="@ViewBag.Position"/>
          <div class="editor-field">
            <select name="Position">
            <option value=""></option>
            @foreach (var Position in @ViewBag.Positions)
            {
                <option value="@Position.ID">@Position.Name</option>
            }
            </select>
        </div>
      

        <div class="editor-label">
            @Html.Label("College")
        </div>
        <input class="input" type="text" name="OldCollege" readonly=readonly value="@ViewBag.College"/>
        <div class="editor-field">
            <select name="College">
                <option value=""></option>
                @foreach (var College in @ViewBag.Universities)
                {
                <option value="@College.ID">@College.Name</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.CollegeID)
        </div>

        <div class="editor-label">
            @Html.Label("University")
        </div>
        <input class="input" type="text" name="OldUniversity" readonly=readonly value="@ViewBag.University"/>
        <div class="editor-field">
            <select name="University">
                <option value=""></option>
                @foreach (var University in @ViewBag.Universities)
                {
                <option value="@University.ID">@University.Name</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.UniversityID)
        </div>
       

        <div class="editor-label">
            @Html.LabelFor(model => model.state)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.state)
            @Html.ValidationMessageFor(model => model.state)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HireYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HireYear)
            @Html.ValidationMessageFor(model => model.HireYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthdate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthdate)
            @Html.ValidationMessageFor(model => model.Birthdate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProfilePicture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProfilePicture)
            @Html.ValidationMessageFor(model => model.ProfilePicture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UniversityID)
        @Html.HiddenFor(model => model.CollegeID)
        @Html.HiddenFor(model => model.CommitteeID)
        @Html.HiddenFor(model => model.PositionID)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
